@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
  align-items: center;
}
.header{
  width: 100%;
  background-color: #f9f9f9;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container {
  display: flex;
  width: 100%;
 margin-left: 150px;
 margin-right: 150px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}
nav{
  display: flex;
  padding: 1% 0%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #f9f9f9;
  width: 100%;

}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
  padding-right: 40px;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;

}
.nav-links ul li a{
  color:darkblue;
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
}

.nav-links ul li a{
  
  color: darkblue;
  transition: -5s;
}
.nav-links ul li a:hover {
  
  color: #00c3c0;
  display: block;
}
.btn{
  color: #fff;
  
}
.btn{
  background-color: #00c3c0;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.body-container{
  display: flex;
  position: relative;
  margin-right: 150px;
  margin-left: 150px;
  background-color: #fff;
}
.bold-font {
  font-size: 65px;
  font-weight: bold 700;
  color: #1d1d1d;
  margin-top: 120px;
  line-height: 1.2;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  text-align: left;
}
.to-left{
  display: inline-block;
  flex-wrap: wrap;
  width: 50%;
  height: 40%;
}
.to-right{
  display: inline-block;
  flex-wrap: wrap;
  max-height: 635px;
  max-width: 100%;
  margin-top: 15px;
}
.banner{
  max-height: 635px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  height: 76vh; 
}
.descrip{
  font-size: 30px;
  color: #1d1d1d;
  margin-top: 35px;
  line-height: 1.35;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
.flex-app{
  display: flex;
width: 100%;
 margin-left: 0px;
 margin-right: 10px;
align-items: center;
justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
}
.android .apple{
  background-size: 1440px auto;
  background-position: -786px, -150px;
  image-orientation: initial;
  border-style: none;
  align-items: baseline;
  width: 5px;
  height: 15px;
  display: inline-block;
  box-sizing: border-box;
}
.apple{
  width: 5px;
  height: 15px;
}
.app-photo{
  font-size: 20px;
  color: #000;
  margin-top: 55px;
  line-height: 1.52;
  box-sizing: border-box;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
@media only screen and (max-width: 900px)
{
  .header{
    width: 100%;
    background-color: #f9f9f9;
    background-position: top;
    background-size: cover;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    z-index: 91;
    box-shadow: 0 1px grey;
  }
  .container {
  
    width: 100%;
   margin-left: 15px;
   margin-right: 15px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    
  }
.menu-icon{
  width: 25px;
  cursor: pointer;
  display: block;
  margin-left: 380px;
  margin-top: 0px;
  
}

.hamburger:hover {
  outline: 0;
  cursor: pointer;
}

.hamburger:hover{
  outline: 0;
}
.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 25px;
    height: 25px;
    background: 0 0;
    border: none;
    right: 17px;
}
.button{
  overflow: visible;
}
button{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #fff;
  box-sizing: border-box;
}
.hamb-top{
  top: 5px;
  background-color: turquoise;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
}
.hamb-middle{
  top: 50%;
  background-color: turquoise;
  position: absolute;
  left: 7px;
  height: 3px;
  width: 18px;
  margin-top: -2px;
}
.hamb-bottom{
  bottom: 5px;
  background-color: turquoise;
  position: absolute;
  left: 14px;
  height: 3px;
  width: 11px;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  background-color: #f9f9f9;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}
.nav-links ul li a{
  color:darkblue;
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  display: none;
}

.nav-links ul li a{
  
  color: darkblue;
  transition: -5s;
  display: none;
}
.nav-links ul li a:hover {
  
  color: #00c3c0;
  display: block;
  display: none;
}

.body-container{
  position:absolute;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #fff;
  display: inline-block;
}
.bold-font {
  font-size: 28px;
  font-weight: bold 700!important;
  color: #1d1d1d;
  margin-top: 90px;
  line-height: 1.2;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  text-align: center;
}
.to-left{
  display: inline-block;
  align-items: center;
  width: 100%;
  height: 100%;
}
.to-right{
  display: inline-block;
  align-items: center;
  max-height: 635px;
  max-width: 100%;
  margin-top: 15px;
}
.banner{
  border-style: none;
  align-self: center;
  margin-top: 15px;
  vertical-align: middle;
  border-style: none;
  
  
}
.descrip{
  font-size: 16px!important;
  color: #8d8b97;
  margin-top: 35px;
  line-height: 1.35;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  
}
.flex-app{
margin-left: 150px;
width: 100%;
align-items: center;
justify-content: center;
position: relative;
display: block;
margin-top: 5px;


  
}
.android .apple{
  background-size: 1440px auto;
  background-position: -974px, -150px;
  vertical-align: middle;
  border-style: none;
  align-items: baseline;
  display: inline-block;

}

.app-photo{
  font-size: 20px;
  color: #000;
  margin-top: 55px;
  line-height: 1.52;
  box-sizing: border-box;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
}
